<div class="container" style="margin: 0 auto 60px auto;">
    <div class="row stripe">
        <div class="col-md-12">
            <h1>kitten got claws</h1>
            <p>
                Bekleidungsdesign für die Band Kitten got Claws.<br/>
                <a href="http://kittengotclaws.spreadshirt.de/" target="_blank">kittengotclaws.spreadshirt.de</a>
            </p>
        </div>
        <div class="col-md-12">
            <img class="stripe-img  float-right" style="width: 70%;" src="/images/stripes/kitten02.png" alt="kitten got claws" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 video-holder">
        <video preload="true" loop autoplay>
            <source src="/videos/kitten.mp4">
            <source src="/videos/kitten.webm">
            <source src="/videos/kitten.ogg">
            <source src="/videos/kitten-mobile.mp4">
        </video>
        <img src="/images/video-fallback/kitten.png" class="bg-video-fallback" alt="bayer diabetes care movie" />
    </div>
</div>
