<div class="container">
    <div class="row stripe">
        <div class="col-md-5 stripe-content">
            <h1>research soundcloud</h1>
            <p>
                Um meinen Horizont zu erweitern, habe ich mich mit der Smart Watch von Apple auseinander gesetzt.
                Als Beispiel diente mir Soundcloud.
            </p>
        </div>
        <div class="col-md-7">
            <img class="stripe-img" src="/images/stripes/soundcloud.png" alt="research soundcloud" />
        </div>
    </div>
</div>