<div class="container">
    <div class="row stripe">
        <div class="col-md-12 stripe-content">
            <h1>vectors</h1>
            <p>
                verschiedene Illustrationen.
            </p>
        </div>
        <div class="col-md-12">
            <img style="width: 70%;" class="stripe-img float-right" src="/images/stripes/illustration.png" alt="illustration" />
            <div style="background-image: url(/images/stripes/illustration02.png); width: 70%;">
            	<video preload="true" loop autoplay style="width: 90%;">
                    <source src="/videos/flipbook.mp4">
                </video>
            </div>
        </div>
    </div>
</div>