<video preload="true" autoplay webkit-playsinline class="image-video" style="width: 100%;">
    <source src="/videos/image.mp4">
    <source src="/videos/image.webm">
    <source src="/videos/image.ogg">
    <source src="/videos/image-mobile.mp4">
</video>
<img src="/images/video-fallback/image.png" class="image-video-fallback" alt="image movie" />

<div class="container">
    <div class="row stripe">
        <div class="col-md-12">
            <h1>wellcome</h1>
            <p>
				expertise und so
            </p>
        </div>
    </div>
</div>