<div class="container">
    <div class="row stripe">
        <div class="col-md-12">
            <h1>contact</h1>
            <p>
                Pikanto Hausherr<br/>
                Schmittestrasse 20<br/>
                8308 Illnau<br/>
                <br/>
                052 535 86 70<br/>
                hello@pikanto.ch<br/>
                www.pikanto.ch<br/>
                <br/>
                <i style="font-weight: 100;">screendesign for you</i>
            </p>
        </div>
    </div>
</div>