<div class="container small-space">
    <div class="row stripe">
        <div class="col-md-12">
            <h1 class="float-right">bayer diabetes care</h1>
            <p class="float-right">
                Die Webseite wurde anhand der Guidelines von Bayer Diabetes Care erstellt.<br>
                Der Kunde wollte die Webseite so Strukturiert haben, dass er die Inhalte selber im Code ändern kann.<br>
                <a href="http://bayerdiabetes.ch" target="_blank">bayerdiabetes.ch</a>
            </p>
        </div>
        <div class="col-md-12">
			<img class="stripe-img" src="/images/stripes/bayer.png" alt="bayer diabetes care" />
        </div>    
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        
    </div>
</div>
