<!-- START IMAGE -->
<div class="row work-header" style="background-image: url(../../images/steakhouse-header.jpg);">
    <div class="col-md-12 "></div>
</div>
<div class="row work-info">
	<div class="col-md-1"></div> 
    <div class="col-md-10">
        <h2>BEFORE WE START</h2>
        <p>Steakhouse Frieden is a great restaurant with fresh and homemade food where you can grill a steak on a hot stone by your own.</p>
    </div>
    <div class="col-md-1"></div> 
</div>

<!-- ABOUT -->
<div class="row work-about">
	<div class="col-md-1"></div> 
    <div class="col-md-8">
        <h1>Steakhouse Frieden Illnau</h1>
        	<div class="col-md-6">
                <h2>TASK</h2>
                <p>Is to create a more appealing and personal site which shows the great food.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h2>SITE</h2>
                <p><a href="http://www.frieden-illnau.ch/" target="_blank">www.frieden-illnau.ch</a></p>
            </div>
            <div class="col-md-12">
                <h2>ROLE</h2>
                <p>My role in this project was taking part in the overall concept, making the ui/ux design, visual design plus development and deploying.</p>
            </div>
    </div> 
    <div class="col-md-3"></div>
</div>

<!-- CREATION -->
<div class="row work-creation">
	<div class="col-md-1"></div> 
	<div class="col-md-11">
        <h1><span>01</span> Mockups</h2>
        <div class="col-md-12">
        	<p>My role in this project was taking part in the overall concept, making the ui/ux design, visual design plus development and deploying.</p>
    	</div>
    </div> 
    <div class="col-md-12"><img src="../../images/steakhouse-creation-mockup.png" alt="" style="width: 100%;" /></div> 
</div>

<div class="row work-creation">
	<div class="col-md-1"></div> 
	<div class="col-md-3">
        <h1><span>02</span> Development</h2>
        <div class="col-md-12">
        	<p>Utilizing Angular js, Bootstraps and Google Docs as a cms solution.</p>
            <p>In the "Mittagsmenu" case, it was important that the customer only changes one file and he can print it and it would shows the same on the page.</p>
    	</div>
    </div>
    <div class="col-md-1"></div> 
    <div class="col-md-7" style="background-image: url(../../images/steakhouse-creation-development.png); background-repeat: no-repeat; background-size: cover; height: 480px;"></div> 
</div>

<div class="row work-creation">
	<div class="col-md-1"></div> 
	<div class="col-md-8">
        <h1><span>03</span> Photography</h2>
        <div class="col-md-12">
        	<p>I also made photos from the restaurant and the food. This pictures will be used for the website and personal use of the restaurant team.</p>
    	</div>
    </div>
    <div class="col-md-3"></div> 
</div>

<!-- FACTS -->
<div class="row work-facts">
    <div class="col-md-12">
        <div>
            <h2>FACTS</h2>
            <p>
            	UI / UX<span>.</span>
                Visual Design<span>.</span>
                Responsive<span>.</span>
                Interaction Design<span>.</span>
                Conception<span>.</span>
                Development<span>.</span>
                Photography<span>.</span>
                Content Strategy<span>.</span>
                User Testing<span>.</span>
				Deployment<span>.</span>
                SEO<span>.</span>
				Social Media<span>.</span>
            </p>
        </div>
        <hr>
        <div>
            <h2>TOOLS</h2>
            <p>
            	Photoshop<span>.</span>
                Google Docs as CMS solution<span>.</span>
                Angular js<span>.</span>
                Bootstrap<span>.</span>
                jQuery<span>.</span>
            </p>
        </div>
    </div>  
</div>

<!-- PICTURES -->
<div class="row work-pictures">
	<h1>Pictures</h1>
    <div class="col-md-4"></div> 
    <div class="col-md-8"><img src="../../images/steakhouse-pictures-browser.png" alt="" style="width: 100%;" /></div>
	<div class="col-md-12" style="padding: 80px 160px; text-align: center; background-color: #E8E8E8;"><img src="../../images/steakhouse-pictures-tablet.png" alt="" style="width: 100%;"  /></div>
    <div class="col-md-6" style="background-color: #3D2E16;"><img src="../../images/steakhouse-pictures-phone01.png" alt="" /></div>
    <div class="col-md-6" style="background-color: #952022;"><img src="../../images/steakhouse-pictures-phone02.png" alt="" /></div>
</div>

<!--<div class="row work-pictures">
    <div class="col-md-12 browser">
        <div class="browser-top"><img src="../../images/steakhouse-pictures00.jpg" alt=""/></div>
        <div class="browser-content"><img src="../../images/steakhouse-pictures01.jpg" alt=""/></div>
    </div>
</div>-->