<div class="row stripe-image" style="background-image: url(../../images/stripes01.png);"></div>
<div class="container small-space">
    <div class="row stripe">
        <div class="col-md-12 googledocs contact">
        	<h1>Kontakt</h1>
			<div>
            	<h2>Adresse</h2>
                <table>
                	<tr>
                    	<td>Restaurant Frieden</td>
                        <td>Tel. 052 346 11 58</td>
                    </tr>
                    <tr>
                    	<td>Usterstrasse 6</td>
                        <td>Fax 052 346 02 60</td>
                    </tr>
                    <tr>
                    	<td>8308 Illnau</td>
                        <td>info@frieden-illnau.ch</td>
                    </tr>
                    <tr>
                    	<td colspan="2"><h2 style="padding-top: 40px;">Öffnungszeiten</h2></td>
                    </tr>
                    <tr>
                    	<td><strong>Restaurant</strong></td>
                    </tr>
                    <tr>
                    	<td>Montag bis Freitag</td>
                        <td>8:30 Uhr - 23:00 Uhr</td>
                    </tr>
                    <tr>
                    	<td>Samstag</td>
                        <td>10:00 Uhr - 23:00 Uhr</td>
                    </tr>
                    <tr>
                    	<td colspan="2">Sonntags geschlossen</td>
                    </tr>
                    <tr>
                    	<td colspan="2">Feiertage immer offen</td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                    	<td colspan="2"><strong>Bar (Fumoir)</strong></td>
                    </tr>
                    <tr>
                    	<td>Montag bis Donnerstag</td>
                        <td>17:00 Uhr - 24:30 Uhr</td>
                    </tr>
                    <tr>
                    	<td>Freitag</td>
                        <td>17:00 Uhr - 02:00 Uhr</td>
                    </tr>
                    <tr>
                    	<td>Samstag</td>
                        <td>18:30 Uhr - 01:00 Uhr</td>
                    </tr>
				</table>
                <p class="contact-more"><i class="icon-book-read-streamline"></i><a href="#" oc-modal-open="{url: 'partials/modal.html', controller: 'ModalCtrl as ModalCtrl', cls: 'super-scaled'}" alt=""><span>Gästebuch</span></a></p>
                <p class="contact-more"><i class="icon-tripadvisor"></i><a href="https://www.tripadvisor.ch/Restaurant_Review-g1892962-d3606358-Reviews-Restaurant_Frieden-Illnau.html" target="_blank">Tripadvisor</a></p>

            </div>
            <div class="map">
            	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10800.790566434176!2d8.7247701!3d47.408086!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x296f33620db500c4!2sRestaurant+Frieden+Steakhouse!5e0!3m2!1sde!2sch!4v1454336336327" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>    
    </div>
</div>