<video preload="true" loop="" class="bg-video">
    <source src="/videos/bayer.mp4">
    <source src="/videos/bayer.webm">
    <source src="/videos/bayer.ogg">
    <source src="/videos/bayer-mobile.mp4">
</video>

<div class="container">
    <div class="row stripe">
        <div class="col-md-8">
            <h1>bayer diabetes care</h1>
            <p>
                Die Webseite wurde anhand der Guidelines von Bayer Diabetes Care erstellt.
                Der Kunde wollte die Webseite so Strukturiert haben, dass er die Inhalte selber im Code ändern kann.
                <br/>
                <br/>
                <a href="http://bayerdiabetes.ch" target="_blank">show</a>
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>