<div class="col-md-12">
	<h1>QUESTIONS? GET IN TOUCH</h1>
	<p><a href="mailto:hello@sybille-hausherr.ch" style="font-size: 1em;">hello@sybille-hausherr.ch</a></p>
    
    <p>
    	<a href="https://ch.linkedin.com/in/sybille-hausherr-00307a81" target="_blank" alt="linkedin" class="icn-linkedin"></a>
        <a href="https://twitter.com/SybilleHausherr" target="_blank" alt="twitter" class="icn-twitter"></a>
    	<a href="https://www.facebook.com/SybilleHausherr/" target="_blank" alt="facebook" class="icn-facebook"></a>
    </p>
</div>