<div class="container">
    <div class="row stripe">
        <div class="col-md-12">
            <h1>contact</h1>
            <p>
                Pikanto Hausherr<br/>
                Schmittestrasse 20<br/>
                8308 Illnau<br/>
                <br/>
                052 535 86 70<br/>
                <a href="mailto:hello@pikanto.ch">hello@pikanto.ch</a><br/>
                <br/>
                
                <!--<a href="https://ch.linkedin.com/in/sybille-hausherr-00307a81" target="_blank" alt="linkedin" style="font-size: 1.4em;"><span class="icn-linkedin"></span></a>
            	<a href="https://www.facebook.com/pikanto.ch/" target="_blank" alt="facebook"><span class="icn-facebook" style="font-size: 1.4em;"></span></a>
            	<a href="https://twitter.com/PikantoHausherr" target="_blank" alt="twitter"><span class="icn-twitter" style="font-size: 1.4em;"></span></a><br>
                <br>-->
                
                <i style="font-weight: 100;">screendesign for you</i>
            </p>
        </div>
    </div>
</div>