<div class="container small-space">
    <div class="row stripe">
        <div class="col-md-12 googledocs alacarte">
        	<h1>A la Carte</h1>
            <p class="titel"><span>Alle Preise inkl. MwSt 8%</span></p>
			<google-doc data-type="lunch-menu" data-url="https://docs.google.com/document/d/1dqZL7xoYgnI69r-kQBgz_AUyJcgyJ6Kt0FVPEh-6n8o/pub?embedded=true"></google-doc>
            <google-doc data-url="https://docs.google.com/document/d/1CB8V-qFImFTP-19VH4tNnqKYbqMNXooVM38CUy3LSjc/pub?embedded=true"></google-doc>
        </div>    
    </div>
</div>