<div class="container">
    <div class="row stripe">
        <div class="col-md-4">
            <h1>contact</h1>
            <p>
                Pikanto Hausherr<br/>
                Schmittestrasse 20<br/>
                8308 Illnau<br/>
                <br/>
                052 535 86 70<br/>
                hello@pikanto.ch<br/>
                www.pikanto.ch<br/>
                <br/>
                <i style="font-weight: 100;">screendesign for you</i>
            </p>
        </div>
        <div class="col-md-8 full-size image-flipper">

            <div class="wide-screen">
                <!--<div ng-controller="ContactCtrl as contactCtrl">-->
                    <!--<form name="contactForm" class="contact-form">-->
                        <!--<div class="form-group">-->
                            <!--<label for="messageName">Name</label>-->
                            <!--<input type="text" class="form-control" id="messageName" placeholder="Name" ng-model="contactCtrl.message.name" required>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="messageEmail">E-Mail</label>-->
                            <!--<input type="email" class="form-control" id="messageEmail" placeholder="E-Mail" ng-model="contactCtrl.message.email" required>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="messageContent">Nachricht</label>-->
                            <!--<textarea id="messageContent" class="form-control" rows="5" ng-model="contactCtrl.message.content" required>{{ contactCtrl.message.content }}</textarea>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;<button type="submit" class="btn btn-default" ng-click="contactCtrl.reset()">Zurücksetzen</button>&ndash;&gt;-->
                        <!--<button type="submit" class="btn btn-pikanto" ng-click="contactCtrl.update()">Senden</button>-->
                    <!--</form>-->
                <!--</div>-->
            </div>

        </div>
    </div>
</div>