<video preload="true" autoplay webkit-playsinline class="image-video" style="width: 100%;">
    <source src="/videos/image.mp4">
    <source src="/videos/image.webm">
    <source src="/videos/image.ogg">
    <source src="/videos/image-mobile.mp4">
</video>
<img src="/images/video-fallback/image.png" class="image-video-fallback" alt="image movie" />

<div class="container small-space">
    <div class="row stripe">
        <div class="col-md-12 wellcome">
            <h1>from our office to the world</h1>
            
            <div>
            	<a class="icn-websites"></a>
                <span>websites</span>
            	<h2>modern, responsive</h2>
                <p>Erstellen von ansprechenden online Präsenzen für dein Business</p>
            </div>
            <div>
            	<a class="icn-app-design"></a>
                <span>app design</span>
            	<h2>unique, popular</h2>
                <p>Individuelles Design für deine App von Morgen</p>
           	</div>
            
            <div>
            	<a class="icn-animation"></a>
                <span>animation</span>
            	<h2>motion, powerful</h2>
                <p>Erreiche deine Kunden mit bewegenden Bildern</p>
            </div>
            
            <div>
            	<a class="icn-others"></a>
                <span>others</span>
            	<h2>everything for screens</h2>
                <p>Alles was auf einem Bildschirm dargestellt werden kann</p>	
            </div>
            
        </div>
    </div>
</div>

<div>
    <div class="row stripe">
        <div class="col-md-12 wellcome touch">
                    
            <div>
                <a class="icn-contact"></a>
                <span>get in touch</span>
                <h2>interested, motivated</h2>
                <p>Starte dein Projekt jetzt<br>
                <a href="mailto:hello@pikanto.ch" class="mail">hello@pikanto.ch</a></p>
            </div>
    
    <!--<blockquote>
        Intelligenter, intuitiver und wunderschöner Auftritt in jeder App.
        
        
        adaptive and effective websites that engage customers and convert leads.
        User Interfaces and User Experience are key components that determine the success of an interactive web-application.
    </blockquote>-->
    
        </div>
    </div>
</div>