<div class="container">
    <div class="row stripe">
        <div class="col-md-12 stripe-content">
            <h1>vectors</h1>
            <p>
                verschiedene Illustrationen.
            </p>
        </div>
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">
                <div>
                    <img class="stripe-img" src="/images/stripes/illustration.jpg" alt="illustration" />
                </div>
                <div>
                    <video preload="true" loop>
                        <source src="/videos/flipbook.mp4">
                    </video>
                    <div class="video-play-btn"><i class="icn-play"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>