<div class="container" style="margin: 0 auto 60px auto;">
    <div class="row stripe">
        <div class="col-md-12">
            <h1 class="float-right">bayer diabetes care</h1>
            <p class="float-right">
                Die Webseite wurde anhand der Guidelines von Bayer Diabetes Care erstellt.<br>
                Der Kunde wollte die Webseite so Strukturiert haben, dass er die Inhalte selber im Code ändern kann.<br>
                <a href="http://bayerdiabetes.ch" target="_blank">bayerdiabetes.ch</a>
            </p>
        </div>
        <div class="col-md-12">
			<img class="stripe-img" src="/images/stripes/bayer.png" alt="bayer diabetes care" />
        </div>    
    </div>
</div>
<div class="col-md-12 video-holder">
    <video preload="true" loop autoplay>
        <source src="/videos/bayer.mp4">
        <source src="/videos/bayer.webm">
        <source src="/videos/bayer.ogg">
        <source src="/videos/bayer-mobile.mp4">
    </video>
    <img src="/images/video-fallback/bayer.png" class="bg-video-fallback" alt="bayer diabetes care movie" />
</div>  
