<div class="container small-space">
    <div class="row stripe">
        <div class="col-md-12 googledocs mittagsmenu">
        	<h1>Mittagsmenu</h1>
            <p class="titel">Inkl. Tagessuppe oder Salat zu allen Gerichten - Freitags Dessert inkl.<br>
			<span>Alle Preise inkl. MwSt 8%</span></p>
			<google-doc data-type="lunch-menu" data-url="https://docs.google.com/document/d/1E2G9bTZVNi-FhrsUxXE6XdZT41CzLP5r0hVlMqEh0ks/pub?embedded=true"></google-doc>
        </div>    
    </div>
</div>
<div class="row stripe-image" style="background-image: url(../../images/stripes07.png);"></div>
