<div class="container">
    <div class="row stripe">
        <div class="col-md-4 stripe-content">
            <h1>about</h1>
            <p>
                Sängerin<br/>
                Hundehalterin<br/>
                Weltenbummlerin<br/>
                Hobbyköchin<br/>
                Serienjunkie<br/>
                Tischfussballspielerin<br/>
                Leseratte<br/>
                Filmliebhaberin
            </p>
        </div>
        <div class="col-md-8 full-size">

            <div class="row ">
                <div class="col-md-12 nopadding">
                    <div class="col-md-8 nopadding">
                        <!-- big image top-left -->
                        <img class="stripe-img" src="/images/stripes/about/about_big_sw.jpg" alt="sybille hausherr" />
                    </div>

                    <div class="col-md-4 offset8 nopadding">
                        <!-- small image top-right, first row -->
                        <img class="stripe-img" src="/images/stripes/about/about_gary02_sw.jpg" alt="sybille hausherr" />
                    </div>
                    <div class="col-md-4 offset8 nopadding">
                        <!-- small image top-right, second row -->
                        <img class="stripe-img" src="/images/stripes/about/about_mittelalter01_sw.jpg" alt="sybille hausherr" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 nopadding">
                    <!-- small image bottom-left -->
                    <img class="stripe-img" src="/images/stripes/about/about_travel02_sw.jpg" alt="sybille hausherr" />
                </div>
                <div class="col-md-4 nopadding">
                    <!-- small image bottom-middle -->
                    <img class="stripe-img" src="/images/stripes/about/about_passion02_sw.jpg" alt="sybille hausherr" />
                </div>
                <div class="col-md-4 nopadding">
                    <!-- small image bottom-right -->
                    <img class="stripe-img" src="/images/stripes/about/about_band02_sw.jpg" alt="sybille hausherr" />
                </div>
            </div>

        </div>
    </div>
</div>