<div class="container small-space">
	<div class="col-md-3">
	</div>
	<div class="col-md-6 ueberuns">
        <h1>Liebe Gäste</h1>
        <p>In unserem Familienbetrieb erwartet Sie nicht nur eine angenehme Atmosphäre und ein hervorragender Service.<br>
        Volles Engagement, von ganzem Herzen - das ist unsere Motivation.</p>
		
        <p>Unsere Küche bietet Ihnen hochwertige Produkte, die allerbesten Zutaten und hausgemachte Spezialitäten.<br>
		Auf dem heissen Stein können Sie Ihr Fleisch nach Ihren Wünschen selbst zubereiten. Wir bieten Ihnen aber auch vegetarische Menus an.</p>
        
        <p>Haben wir Ihren Appetit geweckt?<br>
		Dann erleben Sie unvergleichlichen kulinarischen Genuss in unserem Restaurant.</p>
        <p>Seien Sie herzlich Willkommen.</p>
	</div>
    <div class="col-md-3">
	</div>
</div>


