<div class="container">
    <div class="row stripe">
        <div class="col-md-4 stripe-content">
            <h1>about</h1>
            <p>
                Sängerin<br/>
                Hundehalterin<br/>
                Weltenbummlerin<br/>
                Hobbyköchin<br/>
                Serienjunkie<br/>
                Tischfussballspielerin<br/>
                Leseratte<br/>
                Filmliebhaberin
            </p>
        </div>
        <div class="col-md-8 full-size image-flipper">

            <div class="wide-screen">
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-8 nopadding">
                            <!-- big image top-left -->
                            <div class="hover-img" style="background: url('/images/stripes/about/about_big.jpg');">
                                <img class="stripe-img" src="/images/stripes/about/about_big_sw.jpg" />
                            </div>
                        </div>

                        <div class="col-md-4 offset8 nopadding">
                            <!-- small image top-right, first row -->
                            <div class="hover-img" style="background: url('/images/stripes/about/about_gary02.jpg');">
                                <img class="stripe-img" src="/images/stripes/about/about_gary02_sw.jpg" />

                                <div class="hover-img secondary" style="background: url('/images/stripes/about/about_gary01.jpg');">
                                    <img class="stripe-img" src="/images/stripes/about/about_gary01_sw.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 offset8 nopadding">
                            <!-- small image top-right, second row -->
                            <div class="hover-img" style="background: url('/images/stripes/about/about_mittelalter01.jpg');">
                                <img class="stripe-img" src="/images/stripes/about/about_mittelalter01_sw.jpg" />

                                <div class="hover-img secondary" style="background: url('/images/stripes/about/about_mittelalter02.jpg');">
                                    <img class="stripe-img" src="/images/stripes/about/about_mittelalter02_sw.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 nopadding">
                        <!-- small image bottom-left -->
                        <div class="hover-img" style="background: url('/images/stripes/about/about_travel02.jpg');">
                            <img class="stripe-img" src="/images/stripes/about/about_travel02_sw.jpg" />

                            <div class="hover-img secondary" style="background: url('/images/stripes/about/about_travel01.jpg');">
                                <img class="stripe-img" src="/images/stripes/about/about_travel01_sw.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 nopadding">
                        <!-- small image bottom-middle -->
                        <div class="hover-img" style="background: url('/images/stripes/about/about_passion02.jpg');">
                            <img class="stripe-img" src="/images/stripes/about/about_passion02_sw.jpg" />

                            <div class="hover-img secondary" style="background: url('/images/stripes/about/about_passion01.jpg');">
                                <img class="stripe-img" src="/images/stripes/about/about_passion01_sw.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 nopadding">
                        <!-- small image bottom-right -->
                        <div class="hover-img" style="background: url('/images/stripes/about/about_band02.jpg');">
                            <img class="stripe-img" src="/images/stripes/about/about_band02_sw.jpg" data-secondary="/images/stripes/about/about_band01_sw.jpg" />

                            <div class="hover-img secondary" style="background: url('/images/stripes/about/about_band01.jpg');">
                                <img class="stripe-img" src="/images/stripes/about/about_band01_sw.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <img class="stripe-img" src="/images/stripes/about/about_big_sw.jpg" />
            </div>

        </div>
    </div>
</div>