<div class="row work-header" style="background-image: url(../../images/steakhouse-header.jpg);">
    <div class="col-md-12 "></div>
</div>
<div class="row work-info">
    <div class="col-md-12">
        <h2>BEFORE WE START</h2>
        <p>Steakhouse Frieden is a great restaurant with fresh and homemade food where you can grill a steak on a hot stone by your own.</p>
    </div>
</div>
<div class="container small-space">
    <div class="row work-about">
        <div class="col-md-12">
            
        </div>  
    </div>
</div>

<div class="row work-pictures">
    <div class="col-md-12 browser">
        <div class="browser-top"><img src="../../images/steakhouse-pictures00.jpg" alt=""/></div>
        <div class="browser-content"><img src="../../images/steakhouse-pictures01.jpg" alt=""/></div>
    </div>
</div>
<div class="row work-facts">
    <div class="col-md-12">
        <div>
            <h3>FACTS</h3>
            <p>
            	UI / UX<span>.</span>
                Visual Design<span>.</span>
                Responsive<span>.</span>
                Interaction Design<span>.</span>
                Conception<span>.</span>
                Development<span>.</span>
                Photography<span>.</span>
                Content Strategy<span>.</span>
                User Testing<span>.</span>
				Deployment<span>.</span>
                SEO<span>.</span>
				Social Media<span>.</span>
            </p>
        </div>
        <hr>
        <div>
            <h3>TOOLS</h3>
            <p>
            	Photoshop<span>.</span>
                Google Docs as CMS solution<span>.</span>
                Angular js<span>.</span>
                Bootstrap<span>.</span>
                jQuery<span>.</span>
            </p>
        </div>
    </div>  
</div>