<div class="row stripe-image" style="background-image: url(../../images/stripes07.png);"></div>
<div class="container small-space">
    <div class="row stripe">
        <div class="col-md-12 googledocs alacarte">
        	<h1>A la Carte</h1>
            <p class="titel"><span>Alle Preise inkl. MwSt 8%</span></p>
			<google-doc data-type="alacarte-menu" data-url="https://docs.google.com/document/d/1dqZL7xoYgnI69r-kQBgz_AUyJcgyJ6Kt0FVPEh-6n8o/pub?embedded=true"></google-doc>
            <p class="titel weinpdf"><br><br><a href="../../pdf/Weinkarte_2014.pdf" target="_blank">Weinkarte</a></p>
        </div>    
    </div>
</div>