/* General Demo Style */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Raleway', Calibri, Arial, sans-serif;
  color: #fff;
  overflow: hidden;

  @include gradient-horizontal(#1a1a1a, #3a3a3a, 0%, 100%);
}

a {
  color: #ddd;
  text-decoration: none;

  &:focus, &:visited {
    color: #ddd;
    text-decoration: none;
  }
}

a:hover {
  color: #fff;
}

.wrapper, .main-content, .view {
  height: 100%;
}

.navbar-nav {
  display: none;
}

.navbar-brand {

  margin: 70px 0 0 70px;
  padding: 0;
  @include respond-to(handhelds) { margin: 16px 0 0 15px; }
  @include respond-to(oldschool) { margin: 16px 0 0 15px; }

  img {
    width: 142px;
    height: 41px;

    @include respond-to(handhelds) { width: 80px; height: auto; }
  }
}

@media screen and (max-width: 25em) {

}
