/* General Demo Style */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;

  @include respond-to(handhelds) { font-size: 80%; }
  @include respond-to(oldschool) { font-size: 80%; }
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Raleway', Calibri, Arial, sans-serif;
  color: #fff;
  overflow: hidden;

  @include gradient-horizontal-ff(#0a0a0a, #2a2a2a, 0%, 100%);
}

a {
  color: #ddd;
  text-decoration: none;

  &:focus, &:visited {
    color: #ddd;
    text-decoration: none;
  }
}

a:hover {
  color: #fff;
}

.wrapper, .main-content, .view {
  height: 100%;
}

.navbar-nav {
  display: none;
}

.navbar-brand {

  margin: 70px 0 0 70px;
  padding: 0;

  @include respond-to(medium-screens) { margin: 32px 0 0 32px; }
  @include respond-to(handhelds) { margin: 16px 0 0 10px; }
  @include respond-to(oldschool) { margin: 16px 0 0 10px; background-size: 120px; width: 120px; }

  background: url('/images/logo.png') no-repeat;
  background-size: 200px 58px;
  width: 200px;
  height: 58px;
  text-indent: -10000px;
}

.btn-pikanto {
  border: 1px solid white;
  outline: 0;
  border-radius: 0;
  background: none;
}
.form-control {
  border-radius: 0;
}

.navbar-toggle {
  display: none;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  background-color: rgba(177, 30, 40, 0.8);
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  background-color: #1299d0;
}