/* General Demo Style */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;

	@include respond-to(handhelds) {
		font-size: 80%;
	}
	@include respond-to(oldschool) {
		font-size: 80%;
	}
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	/*font-family: 'Raleway', Calibri, Arial, sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	color: #4E5A5E;
	background-color: #fff;
	font-weight: 300;
	font-size: 14px;

	/*@include gradient-horizontal-ff(#0a0a0a, #2a2a2a, 0%, 100%);*/
}

a {
	color: #ddd;
	text-decoration: none;

	&:focus, &:visited {
		color: #ddd;
		text-decoration: none;
	}
}

a:hover {
	color: #fff;
}

.wrapper, .main-content, .view {
	height: 100%;
}

.pt-page p {
   	width: 100% !important;
	margin: 0 0 2em 0 !important;	
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding: 0;	
}

.navbar-nav {
	display: none;
}

.navbar-header {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100px;
	transition: background-color 0.8s ease;
	
	@include respond-to(medium-screens) {
		height: 100px;
	}
	@include respond-to(handhelds) {
		height: 80px;
	}
	@include respond-to(oldschool) {
		height: 80px;
	}

	.info-text {
		opacity: 0;
		transition: opacity .8s ease;
	}

	.navbar-brand {
		padding: 0;
		margin: 55px 0 0 35px;
		width: 328px;
		color: #C51E47;
		font-family: 'Oswald', sans-serif;
		font-size: 3.6em;
		font-weight: 400;
		line-height: 1em;
		overflow: hidden;
		display: inline-block;
		font-family: 'Amatic SC', cursive;
		height: 60px;
		
		svg {
			display: block;
			width: 200px;
			height: 58px;
			transition: all .8s ease;

			.st0{ fill: #4E5A5E; }
		}
		span {
			box-sizing: border-box;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			cursor: pointer;
			letter-spacing: 0;
			-webkit-transition: all 0.2s 0s linear;
			transition: all 0.2s 0s linear;
		}
		
		span.fullname {
    		-webkit-transition: max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
    		transition: max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
			display: inline-block;
			max-width: 0;
		}
		span.fullname i {
			opacity: 0;
			font-style: normal;
			letter-spacing: 0;
			transform: translate(0, -5px);
		}
	}
	.navbar-brand:hover {
		color: #C51E47;	
	}

	/*&.affix-top {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;

		.info-text {
			opacity: 1;
		}

		.navbar-brand {
			svg {
				display: block;
				width: 150px;
				height: 43.5px;

				.st0{ fill: #34c9cb; }
				
				@include respond-to(medium-screens) {
					width: 150px;
					height: 43.5px;
				}
				@include respond-to(handhelds) {
					width: 100px;
					height: 29px;
				}
				@include respond-to(oldschool) {
					width: 100px;
					height: 29px;
				}
			}
			span {
				color: #34c9cb;
				font-size: .6em;
				left: 10px;
			}
			background-size: 150px 43.5px;
			background-position: 150px 30px;
		}
	}*/
}

.navbar-brand span.fullname i:nth-of-type(6) {
	-webkit-transition: all 0.2s 0.05s linear;
	transition: all 0.2s 0.05s linear;
}
.navbar-brand span.fullname i:nth-of-type(5) {
	-webkit-transition: all 0.2s 0.1s linear;
	transition: all 0.2s 0.1s linear;
}
.navbar-brand span.fullname i:nth-of-type(4) {
	-webkit-transition: all 0.2s 0.15s linear;
	transition: all 0.2s 0.15s linear;
}
.navbar-brand span.fullname i:nth-of-type(3) {
	-webkit-transition: all 0.2s 0.2s linear;
	transition: all 0.2s 0.2s linear;
}
.navbar-brand span.fullname i:nth-of-type(2) {
	-webkit-transition: all 0.2s 0.25s linear;
	transition: all 0.2s 0.25s linear;
}
.navbar-brand span.fullname i:nth-of-type(1) {
	-webkit-transition: all 0.2s 0.3s linear;
	transition: all 0.2s 0.3s linear;
}

.pt-hover .navbar-brand span.fullname i:nth-of-type(1) {
	-webkit-transition: all 0.2s 0.05s linear;
	transition: all 0.2s 0.05s linear;
}
.pt-hover .navbar-brand span.fullname i:nth-of-type(2) {
	-webkit-transition: all 0.2s 0.1s linear;
	transition: all 0.2s 0.1s linear;
}
.pt-hover .navbar-brand span.fullname i:nth-of-type(3) {
	-webkit-transition: all 0.2s 0.15s linear;
	transition: all 0.2s 0.15s linear;
}
.pt-hover .navbar-brand span.fullname i:nth-of-type(4) {
	-webkit-transition: all 0.2s 0.2s linear;
	transition: all 0.2s 0.2s linear;
}
.pt-hover .navbar-brand span.fullname i:nth-of-type(5) {
	-webkit-transition: all 0.2s 0.25s linear;
	transition: all 0.2s 0.25s linear;
}
.pt-hover .navbar-brand span.fullname i:nth-of-type(6) {
	-webkit-transition: all 0.2s 0.3s linear;
	transition: all 0.2s 0.3s linear;
}

.pt-hover .navbar-header .navbar-brand span.fullname {
	max-width: 100px;
}

.pt-hover .navbar-header .navbar-brand span.fullname i{
	opacity: 1;
}

.pt-nav {
	float: right;
	padding: 46px 60px 30px 0;
	height: 100px;
}

#pt-main {
	height: 100%;
}

.pt-main {
	margin-left: 90px;
	height: 100%;
}

div.info-text {
	color: #4E5A5E;
	font-size: 0.8em;
	line-height: 1em;
	position: absolute;
	right: 240px;
	top: 45px;
	
	@include respond-to(medium-screens) {
		display: none;
	}
	@include respond-to(handhelds) {
		display: none;
	}
	@include respond-to(oldschool) {
		display: none;
	}
}

div.info-text span {
	padding: 0 6px;
}

.pt-nav a {
	color: #34c9cb;
	font-size: 2.2em;
	padding: 0 0 0 10px;
	transition: color .3s ease;
	text-decoration: none;
	
	@include respond-to(medium-screens) {
		display: none;
	}
	@include respond-to(handhelds) {
		display: none;
	}
	@include respond-to(oldschool) {
		display: none;
	}
}

.pt-nav a.icn-burger {
	padding: 0 0 0 36px;
	font-size: 2.2em;
	
	@include respond-to(medium-screens) {
		display: block;
	}
	@include respond-to(handhelds) {
		display: block;
	}
	@include respond-to(oldschool) {
		display: block;
	}
}

.pt-nav a:hover {
	color: #4E5A5E;
}

.wellcome {
	padding-top: 120px !important;
}

.wellcome div {
	width: 25%;
	float: left;
	text-align: center;
	margin: 60px 0 0 0;
	
	@include respond-to(medium-screens) {
		width: 50%;
		height: 260px;
	}
	@include respond-to(handhelds) {
		width: 50%;
		height: 180px;
	}
	@include respond-to(oldschool) {
		width: 100%;
		float: none;
		margin: 20px 0 0 0;
	}
}

.wellcome span {
	width: 100% !important;
	margin: 0 0 40px 0 !important;
	padding: 0px;
	line-height: 0.5;
	letter-spacing: 3px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

.wellcome div h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 2;
	border-bottom: 1px solid #34c9cb;
	width: 70%;
	margin: 0 0 15px 15%;
	
	@include respond-to(handhelds) {
		width: 80%;
		margin: 0 0 15px 10%;
	}
}

.wellcome div p {
	width: 70%;
	margin: 0 0 15px 15%;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.wellcome div a {
	color: #4E5A5E;
	font-size: 5em;
	display: block;
}

.wellcome div a:hover {
	
}

.wellcome.touch {
	width: 100%;
	text-align: center;
	display: inline-block;
	background-color: #0f5670;
	padding: 0px !important;
	
	@include respond-to(medium-screens) {
		height: 320px;
	}
}

.wellcome.touch div {
	width: 25%;
	float: left;
	text-align: center;
	margin: 0 0 0 37.5%;
	padding: 30px 0;
	color: #fff;
	
	@include respond-to(medium-screens) {
		width: 50%;
		margin: 0 0 0 25%;
	}
	@include respond-to(handhelds) {
		width: 50%;
		margin: 0 0 0 25%;
		height: 230px;
	  	float: none;
	}
	@include respond-to(oldschool) {
		width: 100%;
		margin: 0;
	  	float: none;
	}
}

.wellcome.touch div a {
	color: #fff;
}

.wellcome.touch div a.mail {
	font-size: 1em;
	color: #34c9cb;
}

.wellcome.touch div a.mail:hover {
	color: #fff;
}

.pt-page {
	padding: 0 0 0 90px;
}

.pt-page.pt-page-contact a:hover {
	color: #fff;	
	background-position: 0 0;
}

.btn-pikanto {
	border: 1px solid white;
	outline: 0;
	border-radius: 0;
	background: none;
}

.form-control {
	border-radius: 0;
}

.navbar-toggle {
	display: none;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
	background-color: rgba(177, 30, 40, 0.8);
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
	background-color: #1299d0;
}


.pt-page .col-md-12, .pt-page .col-md-6 {
    padding: 6% 12%;
}




/* ________________ ABOUT */
.pt-page .row.about-info {
	margin: 0;
	text-align: justify;
}

.pt-page .row.about-info h1 {
	border: none;
    font-size: 6em;
    padding: 80px 0 0 0;
	line-height: 2em;
}

.pt-page .row.about-info p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.pt-page .row.about-info img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

.pt-page .row.about-info img:hover {
	-webkit-filter: none;
    filter: none;
	/*transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);*/
}

/* FACTS */
.pt-page .row.about-facts {
    background-color: #C51E47;
	color: #fff;
	padding: 36px 0 36px 0;
	text-align: center;
	margin: 0;
}

.pt-page .row.about-facts .col-md-12 {
    margin: 0 auto;
    width: 80%;
    float: none;
    display: block;
	padding: 20px 0 20px 0;
}

.pt-page .row.about-facts .col-md-12 div {
	display: inline-block;
}

.pt-page .row.about-facts .col-md-12 div p {
	float: left;
	width: 80%;
	margin: 0;
	line-height: 1.5em;
	margin: 0 !important;
}

.pt-page .row.about-facts .col-md-12 div p span{
	padding: 0 12px;
	font-weight: bold;
}

/* ABOUT */
.pt-page .row.about-about {
	margin: 0 0 80px 0;
	text-align: justify;
}

.pt-page .row.about-about h1 {
	border: none;
    font-size: 6em;
    padding: 0 0 0 0;
	line-height: 2em;
}

.pt-page .row.about-about h2 {
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 0 0.6em 0;
}

.pt-page .row.about-about p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* CONTACT */
.pt-page .row.about-contact {
	color: #fff;
	padding: 36px 0 36px 0;
	margin: 0 0 80px 0;
	background-color: #C51E47;
}

.pt-page .row.about-contact h1 {
	padding: 36px 0 36px 0;
	line-height: 1.5em;
}

.pt-page .row.about-contact .col-md-8 {
    text-align: center;
}

.pt-page .row.about-contact p {
    margin: 0 0 0.5em 0 !important;;
}

.pt-page .row.about-contact a {
	background-color: #fff;
	font-weight: 300;
	padding: 8px 0 0 0;
}

.pt-page .row.about-contact a:hover {
    background-image: -webkit-linear-gradient(left, #333 0%, #333 50%, transparent 50%);
}

/* SERVICE */
.pt-page .row.about-service {
	margin: 0 0 80px 0;
}

.pt-page .row.about-service h1 {
	border: none;
    font-size: 6em;
    padding: 0 0 0 0;
	line-height: 2em;
}

.pt-page .row.about-service h2 {
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 0 0.6em 0;
}

.pt-page .row.about-service span {
	color: #C51E47;
	font-size: 1.5em;
}


/* CLIENTS */
.pt-page .row.about-clients {
	margin: 0 0 80px 0;
	text-align: justify;
}

.pt-page .row.about-clients h1 {
	border: none;
    font-size: 6em;
    padding: 0 0 0 0;
	line-height: 2em;
}

.pt-page .row.about-clients h2 {
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 0 0.6em 0;
}

.pt-page .row.about-clients p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* PICTURES */
.pt-page .row.about-pictures {
    margin: 0 auto 80px auto;
}

.pt-page .row.about-pictures .col-md-3 {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.pt-page .row.about-pictures img {
	width: 100%;
	-webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.pt-page .row.about-pictures img:hover {
	-webkit-filter: none;
    filter: none;
	/*transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);*/
}






/* ________________ WORK */
.pt-page-work {
    height: 100%;
	color: #333;
}

.pt-page.pt-page-work h1 {
	border: none;
    font-size: 3em;
    padding: 0;
	line-height: 1em;
}

.pt-page.pt-page-work h1 span{
    font-size: 0.5em;
    color: #952022;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
	display: block;
	opacity: 1;
}

.pt-page.pt-page-work h2 {
    font-size: 1em;
	text-transform: uppercase;
	margin: 0 0 1em 0;
}

.pt-page.pt-page-work p {
	font-size: 1.2em;
}

/* HEADER */
.pt-page .row.work-header {
    height: 100%;
	width: 100%;
    background-size: cover;
    background-position: 30% 50%;
	display: block;
	position: relative;
}

/* INFO */
.pt-page .row.work-info {
	width: 100%;
    background-color: #952022;
	color: #fff;
	margin: 0 0 0 0;
}

.pt-page .row.work-info h2 {
    text-align: center;
	font-size: 1em;
	margin: 0 0 1em 0;
}

.pt-page .row.work-info p {
    font-size: 2.4em;
    line-height: 1.1em;
    text-align: center;
	margin: 0 auto !important;
	width: 70%;
}

/* ABOUT */
.pt-page .row.work-about {
    background-position: top right;
	display: block;
	position: relative;
	background-image: url(../../images/steakhouse-about.jpg);
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	padding: 0 0 12% 0;
	text-align: justify;
}

.pt-page .row.work-about .col-md-12 {
	padding: 6% 0;
}

.pt-page .row.work-about h1 {
	border: none;
    font-size: 6em;
    padding: 12% 0 0 0;
	line-height: 2em;
}

.pt-page .row.work-about p {
	margin: 0 0 2em 0;
	width: 100%;
	font-size: 1.2em;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.pt-page .row.work-about a {
	background-color: #952022;
	font-weight: 300;
}

.pt-page .row.work-about a:hover {
    background-image: -webkit-linear-gradient(left, #333 0%, #333 50%, transparent 50%);
}

/* FACTS */
.pt-page .row.work-facts {
    background-color: #E8E8E8;
	color: #333;
	text-align: center;
}

.pt-page .row.work-facts .col-md-12 {
    margin: 0 auto;
    float: none;
    display: block;
}

.pt-page .row.work-facts .col-md-12 div {
	display: inline-block;
}

.pt-page .row.work-facts .col-md-12 div h3 {
	font-size: 1em;
	float: left;
	width: 20%;
	margin: 4px 0 0 0;
}

.pt-page .row.work-facts .col-md-12 div p {
	float: left;
	width: 80%;
	margin: 0;
	line-height: 1.5em;
	margin: 0 !important;
}

.pt-page .row.work-facts .col-md-12 div p span{
	padding: 0 12px;
	font-weight: bold;
}

.pt-page .row.work-facts .col-md-12 hr {
	border: none;
	height: 1px;
	clear: both;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 4% 0;
}

/* PICTURES */
.pt-page .row.work-pictures {
    margin: 0 auto 0px auto;
}

.pt-page .row.work-pictures .col-md-6 img {
    width: 100%;
}

.pt-page .row.work-pictures .col-md-8 {
    text-align: right;
	padding: 0;
	margin: 80px 0 0 0;
}




/* ________________ FOOTER */
.pt-page .row.footer {
    text-align: center;
}

.pt-page .row.footer h1 {
	color: #fff;
	margin: 0 0 6% 0;
}

.pt-page .row.footer p {
	text-align: center;
	margin: 0 0 0.8em 0 !important;
}

.pt-page .row.footer a {
	background-color: #fff;
	font-weight: 300;
	padding: 0 12px 0 12px;
	font-size: 1.4em;
}

.pt-page .row.footer a:hover {
    background-image: -webkit-linear-gradient(left, #333 0%, #333 50%, transparent 50%);
}

.pt-page .row.footer span {
	text-align: center;
	font-size: 1em;
	margin: 6% 0 6% 0 !important;
}
