.owl-carousel.owl-theme {

  .owl-item {
    width: 100%;
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 86px;
    margin-top: -43px;
    font-size: 4.6em;
    &.disabled {
      color: rgba(255, 255, 255, .5);
    }
  }
  .owl-nav .owl-prev {
    left: -70px;
  }
  .owl-nav .owl-next {
    right: -41px;
  }
}

.owl-theme {
  background: url(/images/stripes/illustration.png) 0 0 no-repeat;
  padding: 58px 81px 58px 52px;
  width: 900px !important;
  height: 711px;
  margin: 32px auto;
  left: 9px;

  @include respond-to(medium-screens) {
    padding: 39px 54px 39px 35px;
    width: 600px !important;
    height: 476px;
    margin: 64px auto 0 auto;
    left: 9px;
    background-size: 600px;
  }
  @include respond-to(handhelds) {
    padding: 20px 28px 20px 18px;
    width: 310px !important;
    height: 276px;
    margin: 21px auto;
    left: 9px;
    background-size: 310px;
  }
  @include respond-to(oldschool) {
    padding: 16px 23px 16px 15px;
    width: 250px !important;
    height: 196px;
    margin: 21px auto;
    left: 4px;
    background-size: 250px;
  }
}

.owl-carousel .owl-item video {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  height: 595px;

  @include respond-to(medium-screens) {
    height: 396px;
  }
  @include respond-to(handhelds) {
    height: 203px;
  }
  @include respond-to(oldschool) {
    height: 165px;
  }

}