$nav-circle-color:          rgba(255, 255, 255, .4);
$nav-circle-color-active:   rgba(255, 255, 255, 1);
$nav-circle-bw:             1px;
$nav-circle-inner-size:     25;
$nav-width:                 22px;
$nav-height:                50px;
$nav-padding:               25px;
$hover-width:               230px;

ul.pt-page-nav {
  position: absolute;
  z-index: 2000;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    /*width: $nav-width;
    height: $nav-height;
    padding-bottom: $nav-padding;
    box-sizing: content-box;*/
	
	width: 100%;
    text-align: left;
    display: inline-block;
	font-family: 'Oswald', sans-serif;
	
	hr {
	margin: 30px 0;
    width: 90px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
	}

    a {
      width: 100%;
      height: 100%;
      position: relative;

      // inner little circle
      $nav-width-small: ($nav-width * $nav-circle-inner-size) / 100;
      $nav-height-small: ($nav-height * $nav-circle-inner-size) / 100;
      
	  /*&:after {
        content: '';
        display: block;
        background: $nav-circle-color;
        border-radius: $nav-width-small;
        width: $nav-width-small;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50.2%);
        transition: background-color .4s ease;
      }

      &:before {
        content: '';
        display: block;
        border: $nav-circle-bw solid $nav-circle-color-active;
        border-radius: ($nav-height / 2);
        width: $nav-width;
        height: 22px;
        position: absolute;
        top: 14px;
        left: 0;
        opacity: 0;
        transition: opacity 0.4s ease;
      }*/

      span {
        white-space: nowrap;
        transform: translateX(-100%);
        padding: 3px 0px 0 0;
        opacity: 0;
        transition: opacity 0.4s ease, color .4s ease;
        text-transform: uppercase;
        color: $nav-circle-color;
		font-weight: 700;
		font-size: 2.5em;
      }

    }

    &.pt-nav-active {

      a {

        // outer big circle
        &:before {
          opacity: 1;
        }
        &:after {
          background: $nav-circle-color-active !important;
        }

        span {
          color: $nav-circle-color-active !important;
        }

      }

    }

    &:hover {

      a {
		
		text-decoration: none;
		
        &:after {
          background: $nav-circle-color-active !important;
        }

        span {
          color: $nav-circle-color-active !important;
		  color: hotPink;
        }

      }

    }

    &:visited, &:active {

      a {

        span {
          color: $nav-circle-color;
        }

      }

    }

  }

  &.state-bayer {

    li {

      a {

        &:after {
          //background: lighten($nav-circle-color, 30%);
        }

        span {
          //color: lighten($nav-circle-color, 30%);
        }

      }
    }
  }

  &.state-wildstar {

    li {

      a {

        &:after {
          //background: darken($nav-circle-color, 30%);
        }

        span {
          //color: lighten($nav-circle-color, 60%);
        }

      }
    }
  }

  &.state-illustration {

    li {

      a {

        &:after {
          //background: lighten($nav-circle-color, 40%);
        }

        span {
          //color: lighten($nav-circle-color, 40%);
        }

      }
    }
  }

}


  ul.pt-page-nav li a {
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(left, #34c9cb 0%, #34c9cb 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    transition: .5s .1s ease-in-out;
    -webkit-background-clip: text;
	font-weight: 700;
	font-size: 4em;
    letter-spacing: 3px;
    line-height: 1.3em;
  }
  
  ul.pt-page-nav li a:hover {
    background-position: 0 0;
  }

ul.pt-page-nav li.nav-social {
	margin: 0;
	padding: 0;
	height: 40px;
}

ul.pt-page-nav li.nav-social a {
	font-size: 1.4em;
}


.pt-page-nav-wrap div.nav-impressum {
	position: absolute;
	bottom: 30px;
}
.pt-page-nav-wrap div.nav-impressum a {
	margin: 10px 0 0 0;
	font-size: 1em;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: rgba(255, 255, 255, .4);
	
	@include respond-to(handhelds) { font-size: 2em; }
    @include respond-to(oldschool) { font-size: 2em; }
}

.pt-page-nav-wrap div.nav-impressum a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}


.pt-page-nav-wrap {
  position: fixed;
  left: 10%;
  top: 0;
  height: 100%;
  width: $nav-width + 20;
  z-index: 2000;
  display: none;
}

.navbar-header:before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  position: fixed;
  z-index: -1;
  transition: opacity 0.6s ease;
  opacity: 0;
  top: 0;
  right: 0;
}
.pt-hover .navbar-header:before {
  width: 100%;
  z-index: 1999;
  opacity: 1;
}

.pt-hover {

  .pt-page-nav-wrap {
    width: $hover-width;
    display: block;

    li {

      a {

        span {
          opacity: 1;
        }

      }

    }

  }

}


// animate burger
#nav-toggle {
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 3000;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 19px;
  top: 2px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    left: -8px;
    width: 34px;
    height: 34px;
    border: 2px solid #34c9cb;
    border-radius: 40px;
    transition: border-color .5s ease;
  }
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 2px;
  width: 18px;
  background: #34c9cb;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle:hover {
  &:before {
    border-color: #4E5A5E;
  }
}
#nav-toggle:hover span,
#nav-toggle:hover span:before,
#nav-toggle:hover span:after {
  background: #4E5A5E;
}

#nav-toggle span:before {
  top: -4px;
}

#nav-toggle span:after {
  bottom: -4px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}