html, body { height: 100%; }

.pt-page {
  width: 100%;
	//display: inline-block;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

/* Text Styles, Colors, Backgrounds */
.pt-page {

  .container {
    position: relative;
	margin: 0 auto;
	padding: 0 15px 80px 15px;
	
	@include respond-to(medium-screens) { padding: 0 50px 120px 50px; margin: 0 auto; }
	@include respond-to(handhelds) { padding: 0 30px 60px 30px; margin: 0 auto; }
    @include respond-to(oldschool) { padding: 0 30px 40px 30px; margin: 0 auto; }
  }
  
  .container.small-space {
	margin: 0 auto;
	
	@include respond-to(medium-screens) { margin: 0 auto; }
	@include respond-to(handhelds) { margin: 0 auto; }
    @include respond-to(oldschool) { margin: 0 auto; }
  }
  

  .wide-screen {
    @include respond-to(medium-screens) { display: none; }
    @include respond-to(handhelds) { display: none; }
    @include respond-to(oldschool) { display: none; }
  }

  .mobile {
    @include respond-to(wide-screens) { display: none; }
  }

  .contact-form {
    margin-top: 100px;
    @include respond-to(medium-screens) { width: 90%; }
    @include respond-to(handhelds) { margin-top: 0; }

    label {
      font-weight: normal;
    }
  }

}

@-moz-document url-prefix() {
  .pt-page {
    a {
      background-color: transparent;
      &:hover {
        color: #34c9cb;
      }
    }
  }
}

.pt-page-bayer,.pt-page-melanie, .pt-page-about, .pt-page-illustration, .pt-page-wildstar, .pt-page-contact {
  /*@include gradient-horizontal-ff(#1a1a1a, #2a2a2a, 0%, 100%);*/
  padding-top: 120px;
  
	@include respond-to(handhelds) { padding-top: 30px; }
    @include respond-to(oldschool) { padding-top: 30px; }
}

.pt-page-bayer,.pt-page-about, .pt-page-illustration, .pt-page-wildstar, .pt-page-contact {
  box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.pt-page-illustration {
  /*@include gradient-horizontal-ff(#939393, #b4b4b4, 0%, 100%);*/
  background-color: #1b81b1;
  color: #fff;
}

.pt-page-contact {
  /*@include gradient-horizontal-ff(#939393, #b4b4b4, 0%, 100%);*/
  background-color: #0b7399;
  color: #fff;
  display: inline-block;
}

.col-md-3 {
	padding: 0px;
	margin: 0px;
}


.col-md-12 {
	clear: both;
	padding: 0px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  &.nopadding {
    padding: 0;
  }
}

