$nav-circle-color:          rgba(255, 255, 255, .4);
$nav-circle-color-active:   rgba(255, 255, 255, 1);
$nav-circle-bw:             1px;
$nav-circle-inner-size:     25;
$nav-width:                 22px;
$nav-height:                50px;
$nav-padding:               25px;
$hover-width:               230px;

ul.pt-page-nav {
  position: absolute;
  z-index: 2000;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
	width: 100%;
    text-align: left;
    display: inline-block;
	font-family: 'Oswald', sans-serif;
	
	hr {
		margin: 30px 0;
		width: 90px;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
	}

    a {
      width: 100%;
      height: 100%;
      position: relative;
    }

    &:hover {

      a {

        text-decoration: none;

        &:after {
          background: $nav-circle-color-active !important;
        }

        span {
          color: $nav-circle-color-active !important;
          color: hotPink;
        }

      }
    }

    &:visited, &:active {

      a {

        span {
          color: $nav-circle-color;
        }

      }

    }

  }

}


// animate burger
#nav-toggle {
  cursor: pointer;
  position: relative;
  z-index: 3000;
  height: 20px;
  width: 20px;
  float: left;
  margin: 45px 0 0 30px;
  
  @include respond-to(medium-screens) {
		margin: 45px 0 0 30px;
	}
	@include respond-to(handhelds) {
		margin: 40px 0 0 30px;
	}
	@include respond-to(oldschool) {
		margin: 40px 0 0 30px;
	}
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 2px;
  width: 18px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle:hover {
  &:before {
    border-color: #4E5A5E;
  }
}
#nav-toggle:hover span,
#nav-toggle:hover span:before,
#nav-toggle:hover span:after {
  background: #4E5A5E;
}

#nav-toggle span:before {
  top: -6px;
}

#nav-toggle span:after {
  bottom: -6px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}