.navbar {
	position: fixed;
    z-index: 2000;
    width: 100%;
    border: 0;
}

.navbar ul.navbar-nav {
	list-style: none;
	margin: 0 auto;
	padding: 30px 0 30px 0;
	width: 100%;
	display: inline-block;
 }

.navbar ul.navbar-nav li {
	float: left;
	text-align: center;
	display: inline-block;
	font-family: 'Khand', sans-serif;
	font-weight: 300;
	margin: 0 5% 0 0;
	padding: 80px 0 0 0;
}

.navbar ul.navbar-nav li.nav-brand {
	background-image: url(../../images/logo_steakhouse.png);
	background-position:center top;
	background-repeat: no-repeat;
	width: 217px;
    height: 180px;
	margin: 0 6% 0 1%;
	background-size: 100%;
	transition: width 2s, height 2s;
}

.navbar ul.navbar-nav li a {
	width: 100%;
	height: 100%;
	position: relative;
	color: #f9f8f3;
	text-decoration: none;
	font-size: 24px;
}

.navbar ul.navbar-nav li a:hover {
	text-decoration: none;
}

// nach dem scrollen

.navbar.affix-top {
	position: fixed;
    z-index: 2000;
    height: 280px;
    width: 100%;
    border: 0;
}

.navbar.affix-top ul.navbar-nav {
	background-color: #201e1e;
 }

.navbar.affix-top ul.navbar-nav li.nav-brand {
	width: 121px;
    height: 100px;
	background-size: 100%;
}

.navbar.affix-top ul.navbar-nav li a {
	color: #f9f8f3;
}

// animate burger
#nav-toggle {
  cursor: pointer;
  position: relative;
  z-index: 3000;
  height: 20px;
  width: 20px;
  float: left;
  margin: 45px 0 0 30px;
  
  @include respond-to(medium-screens) {
		margin: 45px 0 0 30px;
	}
	@include respond-to(handhelds) {
		margin: 40px 0 0 30px;
	}
	@include respond-to(oldschool) {
		margin: 40px 0 0 30px;
	}
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 2px;
  width: 18px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle:hover {
  &:before {
    border-color: #4E5A5E;
  }
}
#nav-toggle:hover span,
#nav-toggle:hover span:before,
#nav-toggle:hover span:after {
  background: #4E5A5E;
}

#nav-toggle span:before {
  top: -6px;
}

#nav-toggle span:after {
  bottom: -6px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}