html, body { height: 100%; }

//.pt-perspective {
//  position: relative;
//  width: 100%;
//  height: 100%;
//  -webkit-perspective: 1200px;
//  -moz-perspective: 1200px;
//  perspective: 1200px;
//}
//
//.pt-page {
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  top: 0;
//  left: 0;
//  visibility: hidden;
//  overflow: hidden;
//  -webkit-backface-visibility: hidden;
//  -moz-backface-visibility: hidden;
//  backface-visibility: hidden;
//  -webkit-transform: translate3d(0, 0, 0);
//  -moz-transform: translate3d(0, 0, 0);
//  transform: translate3d(0, 0, 0);
//  -webkit-transform-style: preserve-3d;
//  -moz-transform-style: preserve-3d;
//  transform-style: preserve-3d;
//}
//
//.pt-page-current,
//.no-js .pt-page {
//  visibility: visible;
//  z-index: 1;
//}
//
//.no-js body {
//  overflow: auto;
//}
//
//.pt-page-ontop {
//  z-index: 999;
//}


.pt-page {
  width: 100%;
	//display: inline-block;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

/* Text Styles, Colors, Backgrounds */
.pt-page {

  h1 {
	font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.5;
    margin: 0 0 20px 0;
	border-bottom: 1px solid #34c9cb;
	width: 100%;

    @include respond-to(medium-screens) { font-size: 2.3em; }
    @include respond-to(handhelds) { font-size: 3em; }
    @include respond-to(oldschool) { font-size: 2em; margin: 0 0 10px 0; }

    span {
      font-family: serif;
      font-weight: 400;
      font-size: 40%;
      display: block;
      opacity: 0.4;
    }

    strong {
      color: rgba(0,0,0,0.1);
    }
  }

  a {
    outline: none;
    font-weight: 400;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	background-color: #34c9cb;
    background-image: -webkit-linear-gradient(left, #4E5A5E 0%, #4E5A5E 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    transition: .3s .1s ease-in-out;
    -webkit-background-clip: text;

    &:hover,
    &:focus {
      text-decoration: none;
	  background-position: 0 0;
      outline: none;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.4;
    width: 50%;
	margin: 0 0 1.2em 0;
    @include respond-to(medium-screens) { width: 100%; }
	@include respond-to(handhelds) { width: 100%; }
    @include respond-to(oldschool) { width: 100%; }
  }
  
  .float-right {
	float: right;
	text-align: right;
    @include respond-to(medium-screens) { float: none; text-align: left; }
	@include respond-to(handhelds) { float: none; text-align: left; }
    @include respond-to(oldschool) { float: none; text-align: left; }
  }

    .image-flipper .stripe-img {
      width: 100%;
  }
  .stripe-img {
    width: 50%;
	float: left;
    @include respond-to(medium-screens) { width: 100%; margin: 0; }
	@include respond-to(handhelds) { width: 100%; margin: 0; }
    @include respond-to(oldschool) { width: 100%; margin: 0; }
  }
  
  .stripe-img.float-right {
	float: right;
    @include respond-to(medium-screens) { width: 100%; float: none; }
	@include respond-to(handhelds) { width: 100%; float: none; }
    @include respond-to(oldschool) { width: 100%; float: none; }
  }

 /* &.pt-page-kitten {
    .stripe-img {
      @include respond-to(medium-screens) { width: 60%; margin-left: 20%; }
      @include respond-to(handhelds) { width: 60%; margin-left: 20%; }
      @include respond-to(oldschool) { width: 60%; margin-left: 20%; }
    }
  }

  &.pt-page-about {
    .stripe-img {
      @include respond-to(medium-screens) { width: 50%; margin-left: 35%; margin-top: -16%; }
      @include respond-to(handhelds) { width: 50%; margin-left: 45%; margin-top: 0; }
      @include respond-to(oldschool) { width: 50%; margin-left: 45%; margin-top: 0; }
    }
  }*/

  .container {
    position: relative;
	margin: 0 auto;
	padding: 0 15px 120px 15px;
	
	@include respond-to(medium-screens) { padding: 0 50px 120px 50px; margin: 0 auto; }
	@include respond-to(handhelds) { padding: 0 30px 60px 30px; margin: 0 auto; }
    @include respond-to(oldschool) { padding: 0 30px 40px 30px; margin: 0 auto; }
  }
  
  .container.small-space {
	margin: 0 auto;
	
	@include respond-to(medium-screens) { margin: 0 auto; }
	@include respond-to(handhelds) { margin: 0 auto; }
    @include respond-to(oldschool) { margin: 0 auto; }
  }
  
  .row {
		margin: 0;
	}
	
	.rider {
		margin: 0;
		line-height: 0.5;
		letter-spacing: 3px;
		font-family: 'Oswald', sans-serif;
    	font-weight: 300;
    	font-size: 1em;
	}

   .video-holder {
		overflow: hidden;
		width: 100%;
		padding: 0;
        height: 320px;

        @include respond-to(handhelds) { height: 208px; }
        @include respond-to(oldschool) { height: 178px; }

       video {
           width: 100%;
       }
	}

  .bg-video,
  .bg-video-fallback {
    width: 100%;
    background-color: #fff;
  }

  .bg-video-fallback {
    @include respond-to(wide-screens) { display: none; }
  }

  .bg-video {
    @include respond-to(medium-screens) { display: none; }
    @include respond-to(handhelds) { display: none; }
    @include respond-to(oldschool) { display: none; }
  }

  .image-video,
  .image-video-fallback {
    max-width: 100%;
	margin: 0 auto 0 auto;
    position: relative;
  }

  .image-video-fallback {
    @include respond-to(wide-screens) { display: none; }
  }

  .image-video {
    @include respond-to(medium-screens) { display: none; }
    @include respond-to(handhelds) { display: none; }
    @include respond-to(oldschool) { display: none; }
  }

  /*.stripe-content {
    transform: translateY(50%);
    margin-top: 8%;

    @include respond-to(medium-screens) { transform: translateY(0%); }
    @include respond-to(handhelds) { transform: translateY(0%); }
    @include respond-to(oldschool) { transform: translateY(0%); }
  }*/

  .wide-screen {
    @include respond-to(medium-screens) { display: none; }
    @include respond-to(handhelds) { display: none; }
    @include respond-to(oldschool) { display: none; }
  }

  .mobile {
    @include respond-to(wide-screens) { display: none; }
  }

  .hover-img {
    width: 100%;
    background-size: 100% !important;
    overflow: hidden;
    position: relative;
    transition: transform .4s ease;

    img {
      transition: opacity 1s ease;

      &:hover {
        opacity: 0;
      }
    }

    &.changed {

      &.secondary {
        transform: translateX(0);
        //animation-name: rubberBand;
        //animation-duration: 1s;
        //animation-fill-mode: both;
      }

    }

    &.secondary {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-100%);
    }
  }

  .contact-form {
    margin-top: 100px;
    @include respond-to(medium-screens) { width: 90%; }
    @include respond-to(handhelds) { margin-top: 0; }

    label {
      font-weight: normal;
    }
  }

}

@-moz-document url-prefix() {
  .pt-page {
    a {
      background-color: transparent;
      &:hover {
        color: #34c9cb;
      }
    }
  }
}

.pt-page-bayer,.pt-page-melanie, .pt-page-about, .pt-page-illustration, .pt-page-wildstar, .pt-page-contact {
  /*@include gradient-horizontal-ff(#1a1a1a, #2a2a2a, 0%, 100%);*/
  padding-top: 120px;
  
	@include respond-to(handhelds) { padding-top: 30px; }
    @include respond-to(oldschool) { padding-top: 30px; }
}

.pt-page-bayer,.pt-page-about, .pt-page-illustration, .pt-page-wildstar, .pt-page-contact {
  box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.pt-page-illustration {
  /*@include gradient-horizontal-ff(#939393, #b4b4b4, 0%, 100%);*/
  background-color: #1b81b1;
  color: #fff;
}

.pt-page-contact {
  /*@include gradient-horizontal-ff(#939393, #b4b4b4, 0%, 100%);*/
  background-color: #0b7399;
  color: #fff;
  display: inline-block;
}

/*.pt-page-wildstar {
  background: url('/images/stripes/wildstar_bg.jpg');
  background-size: cover;
}

.pt-page-soundcloud {
  @include gradient-horizontal-ff(#694e39, #7f6c5e, 0%, 100%);
}

.pt-page-about {
  @include gradient-horizontal-ff(#60305a, #795772, 0%, 100%);
}

.pt-page-contact {
  @include gradient-horizontal-ff(#7297ff, #3fcff6, 0%, 100%);
}*/


.video-play-btn {
  transition: all .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 5em;
  background: rgba(0,0,0,.4);
  text-align: center;
  line-height: 123px;
  border-radius: 50px;
  letter-spacing: -12px;
  cursor: pointer;
  color:#fff;

  @include respond-to(medium-screens) { }
  @include respond-to(handhelds) { font-size: 7em; }
  @include respond-to(oldschool) { }

  &.playing {
    left: initial;
    right: 10px;
    bottom: 10px;
    top: initial;
    letter-spacing: -1px;
    font-size: 2.4em;
    width: 50px;
    height: 50px;
    line-height: 59px;

    @include respond-to(medium-screens) { }
    @include respond-to(handhelds) { font-size: 3.4em; }
    @include respond-to(oldschool) { }
  }
}

.col-md-3 {
	padding: 0px;
	margin: 0px;
}


.col-md-12 {
	clear: both;
	padding: 0px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  &.nopadding {
    padding: 0;
  }
}

