<div ng-include="'/partials/nav.html'"></div>

<div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-home" ng-include="'/partials/stripes/stripe-home.html'"></div>
    <div class="pt-page pt-page-mittagsmenu" ng-include="'/partials/stripes/stripe-mittagsmenu.html'"></div>
    <div class="pt-page pt-page-alacarte" ng-include="'/partials/stripes/stripe-alacarte.html'"></div>
    <div class="pt-page pt-page-ueberuns" ng-include="'/partials/stripes/stripe-ueberuns.html'"></div>
    <div class="pt-page pt-page-galerie" ng-include="'/partials/stripes/stripe-galerie.html'"></div>
    <div class="pt-page pt-page-kontakt" ng-include="'/partials/stripes/stripe-kontakt.html'"></div>
    <div class="pt-page pt-page-test" ng-include="'/partials/stripes/stripe-test.html'"></div>
</div>