<div ng-include="'/partials/nav.html'"></div>

<div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-home" ng-include="'/partials/stripes/stripe-home.html'"></div>
    <div class="pt-page pt-page-wikinger" ng-include="'/partials/stripes/stripe-wikinger.html'"></div>
    <div class="pt-page pt-page-uebermich" ng-include="'/partials/stripes/stripe-uebermich.html'"></div>
    <div class="pt-page pt-page-kontakt" ng-include="'/partials/stripes/stripe-kontakt.html'"></div>
    <!--<div class="pt-page pt-page-test" ng-include="'/partials/stripes/stripe-test.html'"></div>-->
</div>
