<div class="navbar" role="navigation">
    <ul class="navbar-nav">
        <li><a href="#" data-ng-click="home.selectStripe('pt-page-home')" alt="">Home</a></li>
        <li><a href="#" data-ng-click="home.selectStripe('pt-page-mittagsmenu')" alt="">Mittagsmenu</a></li>
        <li class="nav-brand"><a></a></li>
        <li><a href="#" data-ng-click="home.selectStripe('pt-page-ueberuns')" alt="">Über uns</a></li>
        <li><a href="#" data-ng-click="home.selectStripe('pt-page-galerie')" alt="">Galerie</a></li>
        <li><a href="#" data-ng-click="home.selectStripe('pt-page-kontakt')" alt="">Kontakt</a></li>
    </ul>
</div>
