<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#!">pikanto.ch</a>

        <div class="info-text">work <span>></span> bayer diabetes care</div>
        <div class="pt-nav">
            <a class="icn-chevron-up"></a>
            <a class="icn-chevron-down"></a>
            <a class="icn-burger"></a>
        </div>
        
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="home()">home</a></li>
        </ul>
    </div>
    <!-- /.nav-collapse -->
</div><!-- /.navbar -->
